@charset "utf-8";
/* TODO：MVとヘッダーをまとめるかどうか */
/* TODO：MVのheightは100vhからheaderの高さを引いた値に設定するといいかも */



/* MV */
.MV{
    height: 89vh;
    background-image: url(../image/MV.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

/* ヘッダー */
.header{
    width: 100%;
    display: flex;
}

.header_icon{
    display: flex;
    background-color: #fff;
    width: 31%;
    align-items: center;
}

.header_nav{
    width: 79%;
    background: #479D40;
}

.header_logo{
    margin-left: 25%;
    width: 63%;
}

.header_list{
    display: flex;
    align-items: center;
    margin-left: 2%;
}

.header_nav li{
    color: #fff;
    font-weight: 600;
    padding: 30px 19px;
}


/* ニュース */
.news{
    background-color: #fffED6;
}

.news_heading{
    display: flex;
    align-items: center;
    margin-left: 17%;
    padding: 42px 0;
}

.news_title{
    font-weight: 600;
    margin-right: 9%;
}

.news_box{
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    font-size: 14px;
}

.post_date{
    margin-right: 30px;
}

/* メッセージ */
.message{
    display: flex;
    position: relative;
}

.message::before{
    content: "";
    background-image: url(../image/character.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
    width: 124px;
    height: 30%;
    bottom: 35px;
    right: 29px;
    position: absolute;

}

.message_image_area{
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding-bottom: 40px;
    width: 31%;
    background-image: url(../image/message.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
}

.section_button{
    color: #479D40;
    padding: .5em 66px;
    background-color: #fff;
    border: 1px solid #479D40;
    font-size: 16px;
    font-weight: 300;
    border-radius: 50px;
    max-width: 220px;
}

.message_area{
    writing-mode: vertical-rl;
}

.message_inner{
    padding: 75px 0;
    margin-left: 6%;

}

.message_title{
    color: #479D40;
    font-size: 26px;
    font-weight: 500;
    line-height: 2;
    margin-left: 26px;
    letter-spacing: .3em;
}

.message_text{
    line-height: 3.3;
}


/* 事業案内 */
.section_title{
    width: 100%;
    color: #479D40;
    font-size: 40px;
    font-weight: 500;
    background-color: #fffED6;
    padding: 90px 0 31px 101px;
}

.service_01{
    width: 100%;
    background-image: url(../image/service01.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 50px 0;
}

.service_01_box{
    width: 42%;
    margin-left: 100px;
    background-color: #fff;
    opacity: 90%;
    border-radius: 10px;
}

.service_inner{
    padding: 60px 62px 63px 60px;
}

.service_small_title{
    font-size: 20px;
}

.service_title{
    font-size: 26px;
    font-weight: 500;
    color: #479D40;
    letter-spacing: .2em;
    margin-top: 10px;
    margin-bottom: 38px;
}

.service_text{
    letter-spacing: .1em;
    line-height: 2;
    margin-bottom: 38px;
    text-align: justify;
}

.service_02{
    width: 100%;
    background-image: url(../image/service02.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;
    padding: 50px 0;
}

.service_02_box{
    width: 42%;
    margin-left: 100px;
    background-color: #fff;
    opacity: 90%;
    border-radius: 10px;
}

.service_button_box{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.service_button_box .section_button{
    padding: .7em 55px .7em 47px;
}


/* ニュース＆ブログ */
.news_blog{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 100px;

}

.blog_container{
    width: 83%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 55px;
}

.blog_box{
    width: 31%;
}

.news_thumbnail{
    width: 100%;
}

.blog_title{
    width: 66%;
    margin-top: -1em;
    margin-bottom: 18px;
    line-height: 1.5;
    font-size: 16px;
    font-weight: 500;
}

.blog_bottom{
    display: flex;
    justify-content: space-between;
    font-size: 14px;
}

.read_more{
    color: #479D40;
}

/* お問い合わせと採用情報 */
.info{
    width: 100%;
    display: flex;
}

.contact{
    background-image: url(../image/contact.png);
}

.recruit{
    background-image: url(../image/recruit.png);
}

.contact,
.recruit{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;

    background-repeat: no-repeat;
    background-size: cover;
    background-position: top;

    padding: 80px 0 39px 0;
}

.contact_inner,
.recruit_inner{
    display: flex;
    flex-direction: column;
    align-items: center;

}

.contact_title{
    font-size: 39px;
    color: #479D40;
    font-weight: 600;
    margin-bottom: 35px;
}

.contact_text{
    text-align: center;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 28px;
}

.contact_button{
    background-color:#479D40;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}

.recruit_title{
    font-size: 39px;
    color: #fff;
    font-weight: 600;
    margin-bottom: 35px;
}

.recruit_text{
    text-align: center;
    color: #fff;
    font-size: 16px;
    line-height: 1.8;
    margin-bottom: 28px;
}

.recruit_button{
    border:1px solid #fff;
    width: 40px;
    height: 40px;
    border-radius: 20px;
}


/* マンガでわかる！！ページへのリンク */
.commic{
    width: 43%;
    height: 236px;
    background-image: url(../image/commic.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    margin: 0 auto;
}

/* フッター */
.footer{
    background-color: #fffED6;
}

.footer p{
    font-size: 14px;
}

.footer_inner{
    display: flex;
    justify-content: space-between;
    padding: 50px 8%;
}

.footer_box_left{
    width: 29%;
}

.footer_icon{
    width: 62%;
    margin-bottom: 60px;
}

.footer_item_button{
    background-color: #479D40;
    width: 12px;
    height: 12px;
    border-radius: 10px;
    margin-right: 9px;
}

.footer_item{
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.footer_box_center{
    width: 38%;
    border-left: #C8C8C8 1px solid;
    border-right: #C8C8C8 1px solid;
}

.footer_nav{
    padding: 50px;
}

.footer_box_right{
    width: 33%;
}

.footer_box_inner{
    padding-top:50px;
    padding-left: 50px;
}

.footer_box_right p{
    margin-bottom: 14px;
}

.button{
    color: #FFF832;
    font-weight: 500;
    background-color: #479D40;
    padding: 20px 50px 22px 60px;
    border-radius: 10px;
    
}

.footer_button{
    margin-top: 50px;
}


